<template>
  <div>
    <!-- BaseHeader -->
    <!-- <base-header></base-header> -->
    <!-- slot for nuxt components -->

    <Nuxt />
  </div>
</template>
<script>
// import BaseHeader from "~/components/BaseHeader.vue";
export default {
  name: "Default"
  // components: { BaseHeader }
};
</script>
