<template>
  <main class="vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="content text-center">
      <h1 v-if="error.statusCode === 404">Page not found</h1>
      <h1 v-else>An error occurred</h1>
      <a href="//asu.edu" class="btn btn-secondary mt-space-sm">Home page</a>
    </div>
  </main>
</template>

<script>
export default {
  layout: "static",
  props: ["error"]
};
</script>
