<template>
  <main class="bg-white-color">
    <!-- Section Navbar -->
    <base-navbar></base-navbar>

    <!-- hero section -->
    <section>
      <hero-image-container
        :image-source="require('~/assets/images/' + pageData.sectionHero.image)"
        :title="pageData.sectionHero.title"
        :text="pageData.sectionHero.text"
      >
      </hero-image-container>
    </section>

    <!--Section Degree -->
    <section class="mb-space-md mb-lg-space-xl">
      <div class="container">
        <div class="row">
          <div
            class="
              col-lg-9 col-12
              mx-lg-auto
              pt-space-lg
              pb-space-md
              pt-lg-space-xxl
              text-lg-center
            "
          >
            <p class="font-weight-bold text-24 text-lg-36 text-lg-center text-dark py-space-xxs">
              {{ pageData.sectionDegrees.title }}
            </p>
            <p class="text-medium">
              {{ pageData.sectionDegrees.text }}
            </p>
            <span
              class="bg-primary d-lg-block col-md-1 my-lg-space-md mx-lg-auto"
              style="height: 5px"
            ></span>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-4 col-sm-12 pb-space-sm"
            v-for="item in pageData.sectionDegreeCards"
            :key="item"
          >
            <card-image-tile
              :title="item.title"
              :bg-image-src="require('~/assets/images/' + item.image)"
              :text="item.text"
              :display-cta="false"
            >
            </card-image-tile>
          </div>
        </div>
      </div>
    </section>

    <!-- Section Benefits -->
    <section class="mb-space-xxl">
      <div class="benefits position-relative">
        <img
          v-lazy-load
          :data-src="require('~/assets/images/' + pageData.sectionBenefits.backgroundimage)"
          class="background_image w-100"
        />
        <img
          v-lazy-load
          :data-src="require('~/assets/images/' + pageData.sectionBenefits.image)"
          class="benefits-image position-absolute"
        />
        <img
          v-lazy-load
          :data-src="require('~/assets/images/' + pageData.sectionBenefits.image2)"
          class="benefits-mob-image"
        />
        <div class="row benefits_content">
          <div class="text-white col-12 col-lg-5 content position-absolute">
            <h2 class="text-white pb-space-sm text-24 text-lg-36">
              {{ pageData.sectionBenefits.title }}
            </h2>
            <p v-html="pageData.sectionBenefits.text" class="text-medium description"></p>
          </div>
        </div>
      </div>
    </section>

    <!-- Section Experience -->
    <section>
      <section-parallax-atlas
        section-bg-color="white-color"
        container-bg-color="white-color"
        :bgImageSource="require('~/assets/images/' + pageData.sectionExperience.image)"
        :bg-image-lazy="false"
        :title="pageData.sectionExperience.title"
        title-level="h1"
      >
        <template v-slot:body
          ><p v-html="pageData.sectionExperience.text" class="pb-space-xxs text-18"></p>
          <div class="row">
            <div
              class="card-deck col-lg-6 col-sm-12"
              v-for="item in pageData.sectionCards"
              :key="item"
            >
              <card-info-vertical
                :image-source="require('~/assets/images/' + item.image)"
                :title="item.title"
                :cta-as-button="true"
                :cta-button-block="false"
                border-variant="gray-light"
                cta-text="Learn more"
                cta-text-variant="dark"
                cta-text-weight="bold"
                @civCtaClick="civCtaTrigger(item.title)"
                :display-title-highlight="false"
              >
                <p>{{ item.text }}</p>
              </card-info-vertical>
            </div>
          </div>
        </template>
      </section-parallax-atlas>
    </section>

    <!-- Secion Undergraduate -->
    <section class="mt-lg-space-lg">
      <section-parallax-apollo
        :title="pageData.sectionUndergraduate.title"
        title-level="h2"
        title-size="small"
        backdrop-height="400"
        :cta-as-button="true"
        cta-text="Learn more"
        cta-text-variant="dark"
        @ctaClick="ctaTrigger()"
        cta-text-weight="bold"
        :bg-image-source="require('~/assets/images/' + pageData.sectionUndergraduate.image)"
        class="Undergraduate py-space-lg py-lg-0"
      >
        <p>{{ pageData.sectionUndergraduate.text }}</p>
      </section-parallax-apollo>
    </section>

    <!-- Section Footer -->
    <section>
      <base-footer></base-footer>
    </section>
  </main>
</template>
<script>
import HeroImageContainer from "@rds/hero-image-container";
import CardImageTile from "@rds/card-image-tile";
import FooterPartner from "@rds/footer-partner";
import SectionParallaxApollo from "@rds/section-parallax-apollo";
import SectionParallaxAtlas from "@rds/section-parallax-atlas";
import CardInfoVertical from "@rds/card-info-vertical";
import BaseFooter from "../components/BaseFooter.vue";
import BaseNavbar from "../components/BaseNavbar.vue";
import analyticsMixin from "@rds/analytics-gs-mixin";

export default {
  async asyncData({ $content }) {
    const pageData = await $content("data").fetch();
    return { pageData };
  },
  methods: {
    ctaTrigger() {
      this.trackLinkEvent(
        "link",
        "click",
        "onclick",
        "internal link",
        "main content",
        "more undergraduate degrees",
        "learn more"
      );
    },
    civCtaTrigger(text) {
      dataLayer.push({
        event: "link",
        name: "onclick",
        action: "click",
        type: "internal link",
        region: "main content",
        section: text.toLowerCase(),
        text: "learn more"
      });
    }
  },
  name: "index",
  mixins: [analyticsMixin],
  components: {
    "hero-image-container": HeroImageContainer,
    "card-image-tile": CardImageTile,
    "footer-partner": FooterPartner,
    "section-parallax-apollo": SectionParallaxApollo,
    "section-parallax-atlas": SectionParallaxAtlas,
    "card-info-vertical": CardInfoVertical,
    BaseFooter: BaseFooter,
    BaseNavbar: BaseNavbar
  }
};
</script>
<style lang="scss" scoped>
.Undergraduate {
  background-color: black !important;
}
@media (max-width: 1023px) {
  .background_image {
    display: none !important;
  }
  .benefits_content {
    @media screen and (max-width: 767px) {
      width: 104vw;
    }
    width: 102vw;
  }
}
.benefits-mob-image {
  @media (min-width: 1024px) {
    display: none;
  }
}
.benefits-image {
  left: 60px;
  @media (max-width: 1023px) {
    display: none !important;
  }
}
.benefits-mob-image {
  @media (max-width: 1024px) {
    position: relative !important;
    left: 0px !important;
    width: 100%;
  }
}
.content {
  @media (max-width: 1023px) {
    position: relative !important;
    background-color: black;
    padding: 40px;
  }
  @media (min-width: 1366px) {
    top: 90px;
    left: 700px;
  }
  @media (min-width: 1024px) and (max-width: 1250px) {
    top: -100px;
    padding: 110px 0 110px 0;
    left: 570px;
  }
}
.benefits-image {
  @media (min-width: 1024px) and (max-width: 1250px) {
    height: 100% !important;
    left: 8%;
  }
}
</style>
<style lang="scss">
.card-footer {
  background-color: white !important;
}
.cih-body {
  padding: 66px !important;
  @media (max-width: 767px) {
    padding: 20px !important;
  }
}
.content-div {
  @media (min-width: 1024px) {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
}
.btn {
  border-radius: 1.2em !important;
}
</style>
