<template>
  <b-navbar
    variant="faded"
    class="navbar-border border-bottom py-0 border-secondary bg-white-color"
    sticky
  >
    <div class="container">
      <b-navbar-brand href="#">
        <img src="~/assets/images/nav_logo.png" class="logo" alt="asu online" />
      </b-navbar-brand>
      <div class="dropdown_image">
        <img src="~/assets/images/Icon - sort-down-solid.svg" alt="dropdown" class="ml-space-xl" />
      </div>
      <b-navbar-nav class="ml-auto d-none d-lg-block">
        <button class="btn btn-secondary text-lg-16 mr-space-sm" @click="triggerLink()">
          Start MyPath2ASU™
        </button>
      </b-navbar-nav>
    </div>
  </b-navbar>
</template>

<script>
import analyticsMixin from "@rds/analytics-gs-mixin";
export default {
  name: "BaseNavbar",
  mixins: [analyticsMixin],
  methods: {
    triggerLink() {
      this.trackLinkEvent(
        "link",
        "click",
        "onclick",
        "internal link",
        "navbar",
        "main navbar",
        "start mypath2asu"
      );
    }
  }
};
</script>
<style lang="scss" scoped>
.logo {
  width: 12rem;
}
.navbar-border {
  border-width: 5px !important;
}
.modal-close-cross {
  position: absolute;
  top: 12px;
  right: 12px;
}
.dropdown_image {
  @media (min-width: 991px) {
    display: none;
  }
}
</style>
