<template>
  <footer id="baseFooter">
    <!-- section-university-services-menu -->
    <section class="bg-secondary text-dark">
      <div class="container">
        <div class="row">
          <div class="col">
            <div
              class="
                d-flex
                flex-column
                primary_footer
                flex-lg-row
                align-items-center
                justify-content-between
              "
            >
              <img
                v-lazy-load
                data-src="~/assets/images/innovation-logo.png"
                alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020"
                class="order-1 order-lg-2 innovation-image"
              />
              <h5 class="footer-text font-weight-bold text-left pt-space-sm">
                ASU is #1 in the U.S. for innovation
              </h5>
              <nav
                class="nav grid-flex-menu order-2 order-lg-1 mb-space-sm mb-lg-0"
                aria-label="University Services"
              >
                <a
                  v-for="(item, index) in univerityServicesMenuItems"
                  :key="index"
                  :href="item.link"
                  class="nav-link text-dark menu-item primary-footer py-space-xxs py-lg-0"
                  target="_blank"
                  @click="triggerLink(item.text)"
                  rel="noopener noreferrer"
                >
                  {{ item.text }}
                </a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- section-university-legal-compliance-menu -->
    <section class="py-space-xs bg-light">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="nav grid-flex-menu" aria-label="University Legal and Compliance">
              <a
                v-for="(item, index) in universityLegalComplianceMenuItems"
                :key="index"
                :href="item.link"
                class="nav-link text-dark menu-item py-space-xxs py-lg-0"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ item.text }}
              </a>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </footer>
</template>

<script>
export default {
  name: "BaseFooter",
  data() {
    return {
      univerityServicesMenuItems: [
        {
          link: "https://www.asu.edu/map/",
          text: "Maps and Locations"
        },
        {
          link: "https://www.asu.edu/asujobs",
          text: "Jobs"
        },
        {
          link: "https://isearch.asu.edu/",
          text: "Directory"
        },
        {
          link: "https://www.asu.edu/contactasu/",
          text: "Contact ASU"
        },
        {
          link: "https://my.asu.edu/",
          text: "My ASU"
        }
      ],
      universityLegalComplianceMenuItems: [
        {
          link: "https://www.asu.edu/copyright/",
          text: "Copyright and Trademark"
        },
        {
          link: "https://www.asu.edu/accessibility/",
          text: "Accessibility"
        },
        {
          link: "https://www.asu.edu/privacy/",
          text: "Privacy"
        },
        {
          link: "https://www.asu.edu/tou/",
          text: "Terms of Use"
        },
        {
          link: "https://www.asu.edu/emergency/",
          text: "Emergency"
        }
      ]
    };
  },
  methods: {
    triggerLink(text) {
      dataLayer.push({
        event: "link",
        name: "onclick",
        action: "click",
        type: "internal link",
        region: "footer",
        section: "secondary footer",
        text: text.toLowerCase()
      });
    }
  }
};
</script>

<style lang="scss" scoped>
#baseFooter {
  z-index: 1400;
  position: relative;
}
nav.grid-flex-menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  justify-items: start;
  flex-wrap: wrap;
  width: 100%;
}

img.innovation-image {
  width: 100%;
  height: auto;
}

@media (max-width: 991px) {
  .primary-footer {
    display: none;
  }
  nav.grid-flex-menu {
    display: block !important;
  }
  img.innovation-image {
    display: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer-text {
    display: none;
  }
  img.innovation-image {
    height: 100px;
    width: auto;
  }
  nav.grid-flex-menu {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  a.menu-item:hover {
    text-decoration: underline;
  }
}
</style>
