$sbux-brand-dark: #ffc627;
$sbux-brand-light: #ffc627;

$asu-maroon: #742f45;
$asu-gold: #ffc627;
$asu-success: #78be20;
$asu-info: #00a3e0;
$asu-warning: #ff7f32;
$asu-danger: #cc2f2f;
$asu-light: #f1f1f1;
$white-color: #fff;
$asu-white: #f5f5f5; // gray-1
$asu-gray-2: #e8e8e8;
$asu-gray-light: #d0d0d0; // gray-3
$asu-gray-4: #3d3935;
$asu-gray: #975353; // gray-5
$asu-gray-dark: #484848; // gray-6
$asu-dark: #191919; // gray-7
