$font-sizes: 8, 12, 14, 16, 18, 20, 24, 32, 36, 42, 48, 54, 62;

@each $breakpoint in map-keys($grid-breakpoints) {
  @each $size in $font-sizes {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
      .text#{$infix}-#{$size} {
        font-size: #{$size}px !important;
      }
    }
  }
}

.fam-georgia {
  font-family: "Georgia", serif;
}

.font-light {
  font-weight: 200;
}

.fam-roboto {
  font-family: "Roboto" !important;
}

.fam-stb-light {
  font-family: "stb-light" !important;
}

.fam-din-bold {
  font-family: "Din-bold", serif;
}
.fam-roboto {
  font-family: "Roboto" !important;
}

.fam-stb-bold {
  font-family: "stb-s-bold" !important;
}

.font-black {
  font-weight: 900 !important;
}

.roboto-section {
  * {
    font-family: "roboto";
  }
}

.fam-din-condensed {
  font-family: "Din-Condensed" !important;
}
