@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap");
@font-face {
  font-family: "arial";
  src: url("~/assets/fonts/ARIAL.TTF") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "regular";
  src: url("~/assets/fonts/SoDoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Din-bold";
  src: url("~/assets/fonts/D-DIN-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Din-regular";
  src: url("~/assets/fonts/D-DIN.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Din-Condensed";
  src: url("~/assets/fonts/D-DINCondensed-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "stb-light";
  src: url("~/assets/fonts/SoDoSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "stb-s-bold";
  src: url("~/assets/fonts/SoDoSans-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=fonts.css.map */