// Required bootstrap dependency
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables.scss";
@import "~bootstrap/scss/mixins.scss";
// custom
$sides: (t, b, l, r);
@import "./colors.scss";
@import "./spacing.scss";
@import "./typography";
$white: $asu-white;
$black: $asu-dark;

// clean the colors and theme-colors map
$colors: map-remove(
  $colors,
  "blue",
  "indigo",
  "purple",
  "pink",
  "red",
  "orange",
  "yellow",
  "green",
  "teal",
  "cyan",
  "gray",
  "gray-dark"
);

$theme-colors: (
  "primary": $sbux-brand-dark,
  "secondary": $sbux-brand-light,
  "gold": $asu-gold,
  "maroon": $asu-maroon,
  "success": $asu-success,
  "info": $asu-info,
  "warning": $asu-warning,
  "danger": $asu-danger,
  "white-color": $white-color,
  "light": $asu-light,
  "gray-1": $asu-white,
  "gray-2": $asu-gray-2,
  "gray-light": $asu-gray-light,
  "gray-4": $asu-gray-4,
  "gray": $asu-gray,
  "gray-dark": $asu-gray-dark,
  "dark": $asu-dark
);

// Remove vanilla grayscale colors
$grays: map-remove($grays, "100", "200", "300", "400", "500", "600", "700", "800", "900");

// Body
//
// Settings for the `<body> element`.
$body-bg: $white;
$body-color: $asu-dark;

// Links
//
// Style anchor elements.
$link-color: $sbux-brand-light;
$link-hover-color: darken($sbux-brand-light, 15%);

$font-family-sans-serif: "arial";
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem;

$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 700;

$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;

$modal-backdrop-bg: $asu-dark;
$modal-backdrop-opacity: 0.8;

// Buttons + Forms
//
$input-btn-padding-y: 8px;
$input-btn-padding-x: 24px;

$input-btn-padding-y-sm: 0.25rem;
$input-btn-padding-x-sm: 0.5rem;

$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 2rem;
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;

$btn-padding-y-sm: $input-btn-padding-y-sm;
$btn-padding-x-sm: $input-btn-padding-x-sm;

$btn-padding-y-lg: $input-btn-padding-y-lg;
$btn-padding-x-lg: $input-btn-padding-x-lg;

$btn-font-weight: $font-weight-bold;

$btn-block-spacing-y: 2rem;

// Allows for customizing button radius independently from global border radius

$btn-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

// Optional
@import "~bootstrap/scss/root.scss";
@import "~bootstrap/scss/reboot.scss";
@import "~bootstrap/scss/type.scss";
@import "~bootstrap/scss/buttons.scss";
@import "~bootstrap/scss/card.scss";
@import "~bootstrap/scss/close.scss";
@import "~bootstrap/scss/custom-forms.scss";
@import "~bootstrap/scss/dropdown.scss";
@import "~bootstrap/scss/forms.scss";
@import "~bootstrap/scss/grid.scss";
@import "~bootstrap/scss/images.scss";
@import "~bootstrap/scss/input-group.scss";
@import "~bootstrap/scss/list-group.scss";
@import "~bootstrap/scss/media.scss";
@import "~bootstrap/scss/modal.scss";
@import "~bootstrap/scss/nav.scss";
@import "~bootstrap/scss/navbar.scss";
@import "~bootstrap/scss/print.scss";
@import "~bootstrap/scss/transitions.scss";
@import "~bootstrap/scss/utilities.scss";
@import "~bootstrap/scss/carousel.scss";
@import "vue-multiselect/dist/vue-multiselect.min.css";
.isMenuOpen {
  .dropdown-menu.dropdown-menu-right.show {
    background-color: #1f312d !important;
    text-align: center !important;
    a {
      color: var(--white) !important;
      &:hover {
        background-color: #1e2d2a !important;
      }
    }
  }
  .nav-link {
    color: var(--white) !important;
  }
}

label {
  margin-bottom: 0.2rem;
}

.multiselect__tags {
  border-color: #ced4da;
}
